@font-face {
    font-family: buttermilk;
    src: url(./Buttermilk.woff2);
}
*{
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
}
.ram{
   background-image: url("./moom.webp");
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
}
h1{
    text-align: center;
    color: white;
    padding-top: 27%;
    font-family: buttermilk;
    font-size: 50px;
    font-weight: 100px;

}